<nav>
  <%= link_to 'Events', events_path %>
</nav>

<h1>
  <%= @user.name %>
</h1>

<h2>
  mail: <%= @user.email %>
</h2>

<h3>
  Events
</h3>

<% @user.hosted_events.each do |event| %>
  <p><%= link_to event.name, event %></p>

  <p>Location: <%= event.location %></p>
  
  <p>Date: <%= event.date %></p>
<% end %>

<h3>
  Attended Events
</h3>

<h4>Future</h4>
<% future_events = @user.attended_events.future %>
<% if future_events.any? %>
  <% future_events.each do |event| %>
    <ul>
      <li>Event: <%= link_to event.name, event %></li>
      <li>Host: <%= link_to event.host.name, event.host %></li>
    </ul>
  <% end %>
<% else %>
  <p>No future events</p>
<% end %>

<h4>Past</h4>
<% past_events = @user.attended_events.past %>

<% if past_events.any? %>
  <% past_events.each do |event| %>
    <ul>
      <li>Event: <%= link_to event.name, event %></li>
      <li>Host: <%= link_to event.host.name, event.host %></li>
    </ul>
  <% end %>
<% else %>
  <p>No past events</p>
<% end %>

