<nav>
  <%= link_to 'Events', events_path %>
</nav>

<h1>
  <%= @user.name %>
</h1>

<h2>
  mail: <%= @user.email %>
</h2>

<h3>
  Events
</h3>

<% hosted_events = @user.hosted_events %>
<% if hosted_events.any? %>
  <%= render 'event_list', events: hosted_events %>
<% else %>
  <p>No hosted events</p>
<% end %>

<h3>
  Attended Events
</h3>

<h4>Future</h4>
<% future_events = @user.attended_events.future %>
<% if future_events.any? %>
  <%= render 'event_list', events: future_events %>
<% else %>
  <p>No future events</p>
<% end %>

<h4>Past</h4>

<% past_events = @user.attended_events.past %>
<% if past_events.any? %>
  <%= render 'event_list', events: past_events %>
<% else %>
  <p>No past events</p>
<% end %>


