<div class="row text-danger">
  <div class="col-md-12">
    <h2 class="fs-4 badge bg-warning text-dark border border-dark border-3">Send Invitations</h2>
    <div class="row">
      <div class="col-md-2">
        <%= "BUSCADOR" %>
      </div>
      <div class="col-md-10">
        <% if uninvited_users %>
          <div class="d-flex justify-content-start flex-wrap">
            <% uninvited_users.each do |user| %>
              <div>
                <%= form_for :enrollment, url: event_enrollments_path(event), class: "my-1 mx-1" do |f| %>
                  <%= f.hidden_field :user_id, value: user.id %>
                  <%= f.hidden_field :event_id, value: event.id %>
                  <%= f.hidden_field :status, value: "invited" %>
                  <%= f.submit user.name, class: "btn btn-outline-warning text-warning" %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div> 
  </div>
</div>
<hr>